// 1024 Laptops
@media (max-width: 1200px) {
  body {
    line-height: 1.3;
  }

  .container {
    max-width: 90vw;
  }

  .header {
    padding: 1rem;
    border-radius: 15px;
    text-shadow: 0 0 3px #f0f0f0;
    box-shadow: 0 0 2px #f0f0f0;

    .title {
      font-size: 2.5rem;
      margin-bottom: 0.5rem;
    }

    h2 {
      font-size: 1rem;
    }
  }

  div#digital-timer {
    transform: scale(0.6);
  }

  .word {
    #instruction {
      font-size: 2rem;
    }

    #joke-paragraph {
      font-size: 1.5rem;
    }

    #next-word {
      font-size: 3rem;
    }
  }

  .input {
    #restart-message {
      font-size: 1.1rem;
      margin-bottom: 1rem;

      p {
        kbd {
          letter-spacing: 2px;
          padding: 0.5rem 1rem;
          border-radius: 6px;
        }
      }
    }

    #user-input {
      padding: 0.8rem 2.5rem;
      font-size: 1.5rem;
    }
  }

  .letter-correct {
    text-shadow: 0 0 6px $cyan;
  }

  .letter-incorrect {
    text-shadow: 0 0 6px $pink;
  }

  #keyboard {
    padding: 1rem;

    .key {
      width: 40px;
      height: 40px;
      margin: 8px;
      font-size: 1.2rem;
      border-radius: 12px;

      box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.07),
        4px 4px 2px rgba(0, 0, 0, 0.5),
        inset 0px 0px 0px rgba(255, 255, 255, 0.4);
    }

    .fitter {
      border-radius: 12px;

      box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.07),
        4px 4px 2px rgba(0, 0, 0, 0.5),
        inset 0px 0px 0px rgba(255, 255, 255, 0.4);
    }
  }
}

@media (min-width: 1920px) {
  .container {
    justify-content: space-evenly;
  }

  .difficulty-container {
    top: 5%;
    right: 5%;
    font-size: 2.5rem;

    .difficulty-info {
      padding: 1.5rem;
      font-size: 1.2rem;
      width: 400px;
      height: 180px;
    }

    #difficulty {
      letter-spacing: 4px;
      margin-bottom: 1.5rem;
    }

    i.fas {
      font-size: 2.6rem;
    }
  }

  .header {
    padding: 2rem 4rem;
    border: 2px solid #f0f0f0;
    border-radius: 30px;
    text-shadow: 0 0 5px #f0f0f0;
    box-shadow: 0 0 4px #f0f0f0;

    .title {
      font-size: 5rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  div#digital-timer {
    transform: scale(1.2);
  }

  .word {
    #instruction {
      font-size: 3.5rem;
    }

    #joke-paragraph {
      font-size: 3rem;
    }

    #next-word {
      font-size: 7rem;
    }
  }

  .input {
    #restart-message {
      font-size: 2rem;
      margin-bottom: 2rem;

      p {
        kbd {
          letter-spacing: 4px;
          padding: 1rem 2rem;
          border-radius: 15px;
        }
      }
    }

    #user-input {
      padding: 1.5rem 4rem;
      font-size: 4rem;
    }
  }

  .letter-correct {
    color: #f0f0f0;
    text-shadow: 0 0 10px $cyan;
  }

  .letter-incorrect {
    color: #f0f0f0;
    text-shadow: 0 0 10px $pink;
  }

  #keyboard {
    padding: 1rem;

    .key {
      width: 70px;
      height: 70px;
      margin: 16px;
      font-size: 2rem;
      border-radius: 30px;

      box-shadow: -5px -5px 16px rgba(255, 255, 255, 0.07),
        7px 7px 4px rgba(0, 0, 0, 0.5),
        inset 0px 0px 0px rgba(255, 255, 255, 0.4);
    }

    .press-motion {
      transform: translateY(4px);
    }

    .fitter {
      border-radius: 16px;

      box-shadow: -3px -3px 10px rgba(255, 255, 255, 0.07),
        7px 7px 5px rgba(0, 0, 0, 0.5),
        inset 0px 0px 0px rgba(255, 255, 255, 0.4);
    }
  }
}
